// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "nvd3";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

main {
  @extend .container-fluid;
  width: 100%;
  padding-top: 250px;
}

section {
  @extend .row;
  margin-top: 20px;
}

textarea.form-control {
  height: 100px;
}

h2, h3 {
  text-align: center;
}

body {
  background: url('grocery_store.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.radio {
  display: inline;
  margin-left: 20px;
}